@import "https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700";
@import "https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";
* {
	box-sizing: border-box;
}

.title__block{
	width: 100%;
	max-width: 780px;
	margin: 10px auto;
	text-align: left !important;
	color: #ccc;
}

.cards {
	max-width: 80%;
	display: flex;
	justify-content: center;
  align-items: center;
	margin: 1% auto;
	flex-wrap: wrap;
}
