@import "https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700";
@import "https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i";
* {
	box-sizing: border-box;
}
.cards {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	margin: 0 auto;
	-webkit-justify-content: center;
	max-width: 820px;
	flex-wrap: wrap;
}
