@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

/* light */
.card_wrapper_light {
  max-width: 180px;
  min-width: 180px;
  width: 100%;
  height: 260px;
  background: #f7f7f7;
  color: #000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgb(189, 86, 144);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
}
.card_wrapper_light img {
  width: 100%;
  border-radius: 10px;
}
.card-wrapper_light .title {
  padding: 5px 10px;
  padding: 0;
  color: #fff;
}

.card_wrapper_light h3{
  padding: 0;
  margin: 5px 0;
}

.title_light {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info_light {
margin: auto 0;
}



/* dark */

.card_wrapper_dark {
  max-width: 180px;
  min-width: 180px;
  width: 100%;
  height: 260px;
  background: #5b417a;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
}
.card_wrapper_dark img {
  width: 100%;
  border-radius: 10px;
}
.card-wrapper_dark .title {
  padding: 5px 10px;
  padding: 0;
 
}

.card_wrapper_dark h3{
  padding: 0;
  margin: 5px 0;
}

.moreBlock {
  text-decoration: none;
  margin: 10px;
}

.title_dark {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info_dark {
  margin: auto 0;
  }
  