/* .map {
  height: 100%;
} */

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* .map_input_light {
  display: flex;


}

.map_input_dark {
  display: flex;

} */

/* .map_dark {
  width: '90%';
  margin: '0 auto';
   height: "600px"
  
} */



/* light  */

.card_input_box_light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width:max-content;
  padding: 10px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f1f1;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
}

.mapbox_light {
  width: 90%;
}


/* dark */

.card_input_box_dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* width:max-content; */
  padding: 10px;
  margin: 0 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #28094e;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
}



.mapbox_dark {
  width: 90%;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  border-radius: 5px;

}
