
.header {
display: flex;
flex-direction: column;
width: 100%;
left: 0px;
top: 0px;
color: #FFFFFF;
background: #D4145A;

padding: 0;
margin: 0;
}

.header_top_container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;


border-bottom: 1px solid 000000;
}

.header_bottom_container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

 

}

.head_links {
  text-decoration: none;
  margin: 15px;
  padding: 5px 0px 5px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

