/* ligth */

.header_light {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  left: 0px;
  top: 0px;
  color: #FFFFFF;
  background: #D4145A;
  padding: 0;
  margin: 0;
}

.header_top_container_light {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid 000000;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 

}

.header_bottom_container_light {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.head_links_light {
  text-decoration: none;
  margin: 15px;
  padding: 5px 0px 5px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

.header_logo_light {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}

/* dark */
.header_dark {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  left: 0px;
  top: 0px;
  color: #FFFFFF;
  background: #5b417a;
  padding: 0;
  margin: 0;
}

.header_top_container_dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid 000000;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 
}

.header_bottom_container_dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.head_links_dark {
  text-decoration: none;
  margin: 15px;
  padding: 5px 0px 5px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

.header_logo_dark {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}


