$mainbg: #D4145A;
$border: 1px solid #8f2c50;



.header {
// position: fixed;
display: flex;
flex-direction: column;
width: 100%;
max-width: 1600px;
left: 0px;
top: 0px;
color: #FFFFFF;
background: $mainbg;
padding: 0;
margin: 0;
}

.header_top_container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;


border-bottom: $border;
}

.header_bottom_container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

 

}

.head_links {
  text-decoration: none;
  margin: 15px;
  padding: 20px 0px 10px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
