@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");


/* light */
.cat_card_wrapper_light {
  max-width: 90px;
  min-width: 90px;
  width: 100%;
  height: 90px;
  background: #D4145A;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
  color:white;
  border-radius: 10px;
  font-family: "Syne", sans-serif;
  padding: 10px;
  margin: 10px ;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Syne", sans-serif;
}

.cat_icon_light {
  margin: 6px;
}

.cat_link_light {
  text-decoration: none;
}
.cat_card_wrapper_light:active {
  transform: translateY(2px);
}
.cat_card_wrapper_light:hover {
  background-color: #d4145a98;
}

/* dark */

.cat_card_wrapper_dark {
  max-width: 100px;
  min-width: 100px;
  width: 100%;
  height: 100px;
  background: #5b417a;

  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);

  color:white;
  border-radius: 10px;
  font-family: "Syne", sans-serif;
  padding: 10px;
  margin: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Syne", sans-serif;
}

.cat_icon_dark  {
  margin: 6px;
}
.cat_link_dark {
  text-decoration: none;
}
.cat_card_wrapper_dark:active {
  transform: translateY(2px);
}
.cat_card_wrapper_dark:hover {
  background-color: #28094ebb;
}

