* {
  box-sizing: border-box;
}

/* light */

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 
  height: 100vh;
}




/* dark */

.container_dark {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 
  height: 100vh;
  background-color: #28094e;
}
