.button_light {
  background: #D4145A;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid transparent;
  text-align: center;
  width: 75px;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
}

.button_light:active {
  border-color: currentColor;
  transform: translateY(2px);
}

.button_light:hover {
  border: 1px solid transparent;
  background-color: #d6608c;
}



.button_dark {
  background-color: #5b417a;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  border: 1px solid transparent;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 75px;
}

.button_dark:active {
  transform: translateY(2px);
  border: 1px solid transparent;
}

.button_dark:hover {
  border-color: currentColor;
  background-color: #28094ebb;
  border: 1px solid transparent;
}

font-family: Arial, Helvetica, sans-serif;
