/* light */
.login_container_light {
  /* display: flex;
  width: 100%;
  max-width: 1400px;
  height: 100vh; */

  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  z-index: 10000;
  background:rgba(255, 255, 255, 0.884);
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box_light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width:max-content;
  padding: 10px;
  margin: auto;
  background-color: #f5f1f1;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 144, 0.788);

}

.button_light {
  background: #D4145A;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid transparent;
  text-align: center;
  width: 75px;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
}

.button_light:active {
  border-color: currentColor;
  transform: translateY(2px);
}

.button_light:hover {
  border: 1px solid transparent;
  background-color: #d6608c;
}

.closebutton_container_light {
  display: flex;
  flex-direction: row;
  margin-left: 90%;
}

.closebutton_light {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: bolder;
}

.closebutton_light:active {
  border-color: currentColor;
  transform: translateY(2px);
}


/* dark */
.login_container_dark {
  /* display: flex;
  width: 100%;
  max-width: 1400px;
  height: 100vh; */

  top: 0;
  left: 0;
  width: 100%;
  
  height: 100%;
  z-index: 10000;
  background:rgba(255, 255, 255, 0.7);
  margin: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box_dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width:max-content;
  padding: 10px;
  margin: auto;
  color: white;
  background-color: #28094e;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 0px rgb(33, 10, 85);
}

.button_dark {
  background-color: #5b417a;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  border: 1px solid transparent;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 75px;
}

.button_dark:active {
  transform: translateY(2px);
  border: 1px solid transparent;
}

.button_dark:hover {
  border-color: currentColor;
  background-color: #28094ebb;
  border: 1px solid transparent;
}

.closebutton_container_dark {
  display: flex;
  flex-direction: row;
  margin-left: 90%;
}

.closebutton_dark {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  background-color: transparent;
  border: 1px solid transparent;
}

.closebutton_dark:active {
  border-color: currentColor;
  transform: translateY(2px);
}


