/* light */
.card_input_container_light {
  display: flex;
  margin: 3%;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 
  height: 100vh;
}

.card_input_box_light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width:max-content;
  padding: 10px;
  margin: auto;
  background-color: #f5f1f1;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
}

.button_light {
  background: #D4145A;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid transparent;
  text-align: center;
  width: 75px;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
}

.button_light:active {
  border-color: currentColor;
  transform: translateY(2px);
}

.button_light:hover {
  border: 1px solid transparent;
  background-color: #d6608c;
}


/* dark */

.card_input_container_dark {
  display: flex;
  margin: 3%;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto; 
  height: 100vh;
  font-family: "Syne", sans-serif;
}

.card_input_box_dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width:max-content;
  padding: 10px;
  margin: auto;
  color: white;
  font-family: "Syne", sans-serif;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
}

.button_dark {
  background-color: #5b417a;
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  border: 1px solid transparent;
  border-radius: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 75px;
}

.button_dark:active {
  transform: translateY(2px);
  border: 1px solid transparent;
}

.button_dark:hover {
  border-color: currentColor;
  background-color: #28094ebb;
  border: 1px solid transparent;
}
