/* light */

.profile_page_container_light {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;

}

.profile_page_menu_light {
  background-color: #f5f1f1;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
  margin: 1%;
  width: 15%;
  height: 35vh;
  
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.profile_page_var_light {
  margin: 1%;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}


.top_menu_block_light {
  height: 15%;
  margin: 2% auto;
  background-color: #D4145A;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
  width: 90%;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Syne", sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  display: flex;

}

.menu_block_light {
  background-color: #f5f1f1;
  box-shadow: 0px 0px 20px 0px rgba(189, 86, 145, 0.2);
  height: 15%;
  margin: 2% auto;
  font-family: "Syne", sans-serif;
  font-size: 10px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid transparent;
}

.menu_block_light:hover {
  border: 1px solid transparent;
  background-color: #D4145A;
  color: white;
}

.menu_block_light:active {
  background-color: #d4145a86;
  filter: saturate(100%);
}


.mapbox_light {
  height: 600px;
}

/* dark */

.profile_page_container_dark {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;

}

.profile_page_menu_dark {
  box-shadow: 0px 0px 20px 0px rgb(76, 0, 255);
  margin: 1%;
  width: 15%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.profile_page_var_dark {
  margin: 1%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  box-sizing: border-box;
}


.top_menu_block_dark {
  height: 15%;
  margin: 2% auto;
  background-color: #5b417a;
  width: 90%;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-weight: bold;
  display: flex;

}

.menu_block_dark {
  background-color: #f5f1f1;
  border: 1px solid transparent;
  height: 15%;
  margin: 2% auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.menu_block_dark:hover {
  background-color: #5b417a;
  color: #FFFFFF;
}

.menu_block_light:active {
  background-color: #5b417a;
  filter: saturate(100%);
  color: #FFFFFF;
}

